<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
    <link
      rel="shortcut icon"
      href="../favicon/favicon.ico"
      type="image/x-icon"
    />

    <title>Manager tools</title>
  </head>
  <body class="bg-light">
    <nav
      class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(31, 31, 31);">
    
      <a class="navbar-brand" href="#">Manager Tools</a>
      
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Alterna navegação"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(Página atual)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pedidos</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Produtos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Cadastrar produto</a>
              <a class="dropdown-item" href="#">Alterar produto</a>
              <a class="dropdown-item" href="#">Remover produto</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron">
      <h1 class="display-4">Olá, amigo empresário!</h1>
      <p class="lead">Este é uma simples aplicação web com finalidade de lhe ajudar nas tarefas do dia a dia com vendas, acompanhamento de pedidos e estoque.</p>
      <hr class="my-4">
      <p>Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Dashboard </a>
    </div>

    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="../images/produto.svg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Gerencia de produtos</h5>
          <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../images/financeiro.svg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Assistente financeiro</h5>
          <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../images/estoque.svg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Assistente de estoque</h5>
          <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
