<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valuation Buddy</title>
  </head>
  <body>
    <header>Valuation Buddy</header>

    <sidebar>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li>Cálculo fundamentalista</li>
      </ul>
    </sidebar>

    <main>
      <section id="pl">
        <h2>Cálculo P/L (Preço/Lucro)</h2>
        <input id="cotacao" text="button" value="" placeholder="Cotação da ação atual" />
        <input id="lucroporacao" type="text" placeholder="Lucro por ação" />
        <button onclick="calculapl()">Calcular</button>
        <p id="plresultado" class="resultados"></p>
      </section>
    </main>

    <footer></footer>

    <script src="../model/PlConstructor.js"></script>
    <script src="../view/index.js"></script>
  </body>
</html>
